# Godot 4+ specific ignores
.godot/
*.translation

export.cfg

# Imported translations (CVS)
*.csv.import

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# System/Tooling
.DS_Store
Thumbs.db
.directory
